In [137]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
import numpy as np

In [138]:
ls data

000858.SZ.csv  603259.SS.csv

In [139]:
data = pd.read_csv(f'data/603259.SS.csv')
data.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2018-05-08  11.020408  11.020408  11.020408  13.222789  13.007851   69946
1  2018-05-09  14.545068  14.545068  14.545068  14.545068  14.308635   48594
2  2018-05-10  15.999149  15.999149  15.999149  15.999149  15.739079   19992
3  2018-05-11  17.597790  17.597790  17.597790  17.597790  17.311735  129818
4  2018-05-14  19.357992  19.357992  19.357992  19.357992  19.043324  173372

In [140]:
data.shape

(939, 7)

In [143]:
data["labels"] = ((data['Adj Close'].shift(-1) > data['Open'].shift(-1)) & (data["Open"].shift(-2) >= data["Adj Close"].shift(-1))).astype(int)

In [144]:
data["labels"].value_counts()

0    661
1    278
Name: labels, dtype: int64

In [145]:
data["target"] =  (data['Open'].shift(-2) - data['Open'].shift(-1)).astype(float)

In [146]:
data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,labels,target
934,2022-03-14,97.699997,100.500000,95.800003,96.629997,96.153839,23854095,0,2.019997
935,2022-03-15,93.000000,98.160004,91.010002,93.169998,92.710892,31989210,1,10.970001
936,2022-03-16,95.019997,102.400002,94.110001,101.570000,101.069496,40315476,0,0.389999
937,2022-03-17,105.989998,109.199997,104.000000,106.910004,106.383194,45039883,0,NaN
938,2022-03-18,106.379997,106.379997,103.309998,103.620003,103.109398,29234823,0,NaN

In [147]:
data.drop([937, 938], axis=0, inplace=True)

In [148]:
data.query("labels==1").sort_values(by="target")

,Date,Open,High,Low,Close,Adj Close,Volume,labels,target
406,2020-01-06,52.416664,52.619045,51.154762,51.547619,51.034634,33691269,1,0.244049
515,2020-06-19,71.458336,75.099998,71.191666,74.316666,73.797806,29203285,1,0.308334
322,2019-08-30,49.404762,52.440475,49.404762,51.607143,51.093563,17024327,1,0.333332
142,2018-12-03,34.863945,35.918365,34.778912,35.799320,35.217400,15667344,1,0.335884
243,2019-05-10,32.312923,33.375851,31.972790,33.282310,32.741299,14339812,1,0.403912
...,...,...,...,...,...,...,...,...,...
719,2021-04-22,118.991669,119.166664,116.758331,117.158333,116.340363,16743538,1,10.841667
935,2022-03-15,93.000000,98.160004,91.010002,93.169998,92.710892,31989210,1,10.970001
783,2021-07-27,143.899994,152.000000,143.130005,144.600006,143.887466,33480115,1,12.119995
660,2021-01-21,130.750000,134.241669,130.000000,133.333328,132.402420,20579223,1,12.416672
768,2021-07-06,154.000000,154.000000,139.800003,146.029999,145.310410,47440766,1,12.699997

In [149]:
data.set_index("Date", inplace=True)

In [158]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(["labels", "target"], axis=1), data["labels"], test_size=0.2, shuffle=False)
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
f1 = f1_score(y_test, y_pred)

In [159]:
f1

0.23214285714285715